name: Deploy to Hostinger

on:
  push:
    branches:
      - main  # ou o nome da sua branch principal

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'  # Substitua pela versão de PHP utilizada na sua API

    - name: Install dependencies
      run: composer install  # Se você estiver usando o Composer para gerenciar as dependências

    - name: Deploy to Hostinger
      uses: SamKirkland/FTP-Deploy-Action@4.1.0
      with:
        server: ${{ secrets.FTP_HOST }}  # aqui eu coloquei undertakehigh.com.br
        username: ${{ secrets.FTP_USER }}  # aqui eu coloquei u4551847364
        password: ${{ secrets.FTP_PASSWORD }}  # aqui coloquei a senha ewoifhoewhfew
        local-dir: ./api  # Diretório do seu projeto a ser enviado para o servidor
        remote-dir: /public_html/api  # Diretório no servidor onde a API será implantada
        exclude: ./frontend  # Excluir a pasta "frontend" durante a implantação 